a {
    text-decoration: none;
    color: inherit
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 64px;
    padding: 8px 17px;
    background-color: #46A358;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.btn:hover {
    background-color: #195425;
}

.green {
    color: #46A358
}

/* header styles */
.header {
    width: 1200px;
    border-bottom: #46A358 1px solid;
    margin-top: 5px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.nav-tab {
    display: inline-block;
    margin-left: 275px;
    margin-right: 275px;
}

.nav-item {
    display: inline-block;
    margin: 0 20px;
    padding: 5px 5px 15px 5px;
}

.nav-item:not(.active):hover {
    background-color: #8fbd98;
    border-bottom: 3px #46A358 solid;
    color: white;
}

.nav-item.active {
    font-weight: 700;
    border-bottom: 3px #46A358 solid;
}

.btn span {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.btn img {
    vertical-align: middle;
}

/* main styles */
.main {
    margin: 12px 0px;
}

.intro {
    display: inline-block;
    background-color: #F5F5F580;
}

.intro-text {
    display: inline-block;
    width: 700px;
    box-sizing: border-box;
    float: left;
    padding: 68px 43px;
}

.flower {
    display: inline-block;
    width: 500px;
    float: right
}

.welcome {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.intro-text h1 {
    padding-bottom: 7px;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    padding: 5px 0;
}

.text {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

.intro-text .btn {
    margin-top: 44px;
    text-transform: uppercase;
}

input,
button {
    display: block;
    margin-bottom: 10px;
}

.layout {
    width: 52;
    height: 16;
    top: 52px;
    left: 172px;
}

.layout a {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #3D3D3D;
    text-decoration: none;
}

.layout span {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #46A358;
}

form input {
    width: 300px;
    height: 40px;
}

form button {
    background: #46A358;
    color: white;
    width: 300px;
    height: 45px;
}

button {
    background: white;
    width: 300px;
    height: 40px;
}

button img {
    height: 20px;
    width: 20px;
}