.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 1200px;
    border-bottom: #46A358 1px solid;
}

.nav-tab {
    display: inline-block;
    width: 390px;
    margin-left: 270px;
}

.nav-item {
    display: inline-block;
    margin-left: 40px;
}

.nav-item a {
    text-decoration: none;
    padding: 4px 4px 15px 4px;
}

.nav-item a:hover {
    background-color: #E5FFCC;
}

.active {
    border-bottom: #46A358 3px solid;
    padding-bottom: 13px;
}

.link {
    display: inline-block;
    margin-left: 270px;
    min-width: 64px;
    padding: 8px 17px;
    background-color: #46A358;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.link img {
    display: inline-block;
    vertical-align: middle;
}

.link div {
    display: inline-block;
    vertical-align: text-top;
    font-size: 22px;
}

.main {
    margin-top: 15px;
    background-color: #F5F5F580;
}

.text {
    display: inline-block;
    margin: 50px 30px;
    vertical-align: top;
    width: 590px;
}

.welcome {
    margin-top: 15px;
    text-transform: uppercase;
    color: gray;
    font-size: 14px;
    font-weight: 400;
}

.better {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
}

.better span {
    color: #46A358;
}

.line {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

.shop-btn {
    display: inline-block;
    min-width: 64px;
    padding: 8px 17px;
    margin-top: 40px;
    background-color: #46A358;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

input, button {
    display: block;
    margin-bottom: 10px;
}

.layout {
    width: 52;
    height: 16;
    top: 52px;
    left: 172px;
}

.layout a {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
    text-decoration: none;
}

.layout span {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #46A358;
}

form input {
    width: 300px;
    height: 40px;
}

form button {
    background: #46A358;
    color: white;
    width: 300px;
    height: 45px;
}

button {
    background: white;
    width: 300px;
    height: 40px;
}

button img {
    height: 20px;
    width: 20px;
}